@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.svg#PFDinDisplayPro-ExtraThin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.svg#PFDinDisplayPro-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.svg#PFDinDisplayPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.svg#PFDinDisplayPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.svg#PFDinDisplayPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.svg#PFDinDisplayPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.eot");
  src: url("../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.woff") format("woff"), url("../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.ttf") format("truetype"), url("../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.svg#PFDinDisplayPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'UniSansBold';
  src: url("../fonts/UniSansBold-Regular/UniSansBold_gdi.eot");
  src: url("../fonts/UniSansBold-Regular/UniSansBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/UniSansBold-Regular/UniSansBold_gdi.woff") format("woff"), url("../fonts/UniSansBold-Regular/UniSansBold_gdi.ttf") format("truetype"), url("../fonts/UniSansBold-Regular/UniSansBold_gdi.svg#UniSansBold-Regular") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 999999px; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1170px;
  font-family: "PFDinDisplayPro", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #1c232d;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2,
.h2 {
  color: #1b252f;
  font-size: 53px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-block {
  width: 440px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 30px 60px 30px 60px;
  background: url("../img/form_bg.png") 50% 0 no-repeat; }
  .form-block .form-title {
    color: #1b2530;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .form-block .btn {
    width: 100%;
    margin-top: 5px; }

.btn_close {
  top: -10px;
  right: -35px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close.png") 50% 50% no-repeat; }

.btn {
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    text-decoration: none; }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-callback {
  color: #add02a;
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
  padding: 8px 50px;
  background: transparent;
  border: 2px solid #add02a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-callback:hover {
    color: #fff;
    background: #add02a; }

.btn-purple {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  padding: 20px 30px;
  background: #ff0054;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.35);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(77, 52, 161, 0.35);
  box-shadow: 0px 3px 0px 0px rgba(77, 52, 161, 0.35); }
  .btn-purple:hover {
    background: #fd0d0d; }

.btn-pdf {
  color: #1b252f;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  border: 1px solid #1b252f;
  padding: 11px 20px 11px 45px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  border-radius: 22px;
  background: transparent url("../img/icon-pdf.png") 18px 50% no-repeat; }
  .btn-pdf:hover {
    background-color: #fff; }

.btn-pdf-md {
  color: #3c97c3;
  font-size: 22px;
  font-weight: 200;
  line-height: 24px;
  padding: 16px 10px 16px 60px;
  background: transparent url("../img/icon-pdf-md.png") 0 50% no-repeat; }
  .btn-pdf-md span {
    display: inline-block;
    border-bottom: 1px dashed #3c97c3; }
  .btn-pdf-md:hover span {
    border-bottom-color: transparent; }
  .btn-pdf-md:active {
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #939494;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #e8e9ea;
  background-color: #e8e9ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 15px 15px 65px; }
  .form-control::-moz-placeholder {
    color: #939494;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #939494; }
  .form-control::-webkit-input-placeholder {
    color: #939494; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(77, 119, 169, 0.075), 0 0 8px rgba(77, 119, 169, 0.8);
    box-shadow: inset 0 1px 1px rgba(77, 119, 169, 0.075), 0 0 8px rgba(77, 119, 169, 0.8); }

.form-name {
  background: #e8e9ea url("../img/icon-form-user.png") 18px 50% no-repeat; }

.form-company {
  background: #e8e9ea url("../img/icon-form-company.png") 18px 50% no-repeat; }

.form-tel {
  background: #e8e9ea url("../img/icon-form-tel.png") 18px 50% no-repeat; }

.form-email {
  background: #e8e9ea url("../img/icon-form-mail.png") 18px 50% no-repeat; }

.form-location {
  background: #e8e9ea url("../img/icon-form-mail.png") 18px 50% no-repeat; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 10px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.thank {
  height: 787px;
  padding-top: 100px;
  background: url("../img/thank_bg.jpg") 50% 0 no-repeat; }
  .thank .h2 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 35px; }
  .thank .text {
    font-size: 42px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    margin-bottom: 95px; }
  .thank .btn-pdf-md {
    margin: 0 20px; }

.footer {
  color: #fff;
  height: 197px;
  padding-top: 30px;
  background: url("../img/footer_bg.jpg") 50% 0 no-repeat; }
  .footer .footer-row {
    width: 100%; }
    .footer .footer-row > li {
      float: left;
      width: 33.33%; }
      .footer .footer-row > li:first-child {
        padding-top: 20px; }
        .footer .footer-row > li:first-child p {
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 20px; }
      .footer .footer-row > li.item2 {
        padding-top: 40px; }
      .footer .footer-row > li p {
        font-size: 17px;
        line-height: 22px;
        padding-top: 10px; }
        .footer .footer-row > li p a {
          color: #fff;
          text-decoration: underline; }
  .footer .footer-contact {
    text-align: right; }
    .footer .footer-contact li.item1 {
      font-size: 16px;
      font-weight: 200;
      line-height: 22px; }
    .footer .footer-contact li.item2 {
      font-size: 23px;
      font-weight: 400;
      line-height: 25px; }
      .footer .footer-contact li.item2 a {
        color: #fff;
        text-decoration: none; }
    .footer .footer-contact li.item3 {
      font-size: 16px;
      font-weight: 200;
      line-height: 22px;
      margin-bottom: 40px; }
      .footer .footer-contact li.item3 a {
        color: #fff;
        text-decoration: none; }
    .footer .footer-contact li.item4 {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px; }
      .footer .footer-contact li.item4 a {
        color: #ff9c44;
        text-decoration: underline; }

.header {
  height: 105px;
  background: #fff;
  padding-top: 30px; }
  .header .header-logo {
    float: left;
    width: 298px; }
  .header .header-text {
    float: left;
    width: 430px;
    color: #1c232d;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    position: relative;
    padding: 15px 0 15px 14px; }
    .header .header-text:before {
      left: 0;
      top: 50%;
      content: '';
      height: 48px;
      margin-top: -24px;
      position: absolute;
      border-left: 1px solid #e5e5e5; }
  .header .header-area {
    float: left;
    width: 150px;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    padding-top: 18px;
    padding-left: 18px;
    background: url("../img/icon-location.png") 0 22px no-repeat; }
    .header .header-area span {
      color: #1c232d; }
  .header .header-contact {
    float: right;
    width: 230px;
    text-align: right; }
    .header .header-contact li {
      margin-bottom: 5px; }
    .header .header-contact .tel {
      color: #1c232d;
      font-size: 28px;
      font-weight: 500;
      line-height: 28px;
      text-decoration: none; }

.b01 {
  color: #fff;
  height: 758px;
  padding-top: 105px;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat; }
  .b01 h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
    font-family: "UniSansBold", sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); }
  .b01 .text {
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-bottom: 55px; }
    .b01 .text span {
      color: #ff0054;
      font-size: 45px;
      font-weight: 500; }
  .b01 .advantage {
    height: 225px; }
    .b01 .advantage li {
      float: left;
      width: 33.33%;
      font-size: 20px;
      font-weight: 200;
      line-height: 26px;
      text-align: center;
      padding-top: 85px; }
      .b01 .advantage li.item1 {
        background: url("../img/b01_icon1.png") 50% 0 no-repeat; }
      .b01 .advantage li.item2 {
        background: url("../img/b01_icon2.png") 50% 0 no-repeat; }
      .b01 .advantage li.item3 {
        background: url("../img/b01_icon3.png") 50% 0 no-repeat; }
      .b01 .advantage li strong {
        font-weight: 400; }

.b02 {
  height: 640px;
  padding-top: 50px;
  background: #fff url("../img/b02_bg.jpg") 50% 100% no-repeat; }
  .b02 h2,
  .b02 .h2 {
    margin-bottom: 115px; }
  .b02 .about {
    height: 350px;
    position: relative; }
    .b02 .about li {
      width: 260px;
      font-size: 16px;
      font-weight: 200;
      line-height: 21px;
      padding-top: 44px;
      position: absolute;
      text-align: center; }
      .b02 .about li strong {
        font-weight: 400; }
      .b02 .about li.item1 {
        top: 0;
        left: 50px;
        background: url("../img/b02_item1.png") 50% 0 no-repeat; }
      .b02 .about li.item2 {
        top: 0;
        right: 50px;
        background: url("../img/b02_item2.png") 50% 0 no-repeat; }
      .b02 .about li.item3 {
        left: 0;
        top: 140px;
        background: url("../img/b02_item3.png") 50% 0 no-repeat; }
      .b02 .about li.item4 {
        right: 0;
        top: 140px;
        background: url("../img/b02_item4.png") 50% 0 no-repeat; }
      .b02 .about li.item5 {
        top: 30px;
        left: 50%;
        width: 270px;
        height: 270px;
        font-size: 18px;
        line-height: 23px;
        margin-left: -135px;
        padding: 65px 30px 0 30px;
        background: url("../img/b02_center.png") 0 50% no-repeat; }

.b03 {
  color: #fff;
  height: 487px;
  padding-top: 80px;
  background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .h2 {
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px; }
  .b03 .text {
    font-size: 30px;
    font-weight: 200;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px; }
    .b03 .text strong {
      font-weight: 400; }

.b04 {
  height: 863px;
  padding-top: 30px;
  background: url("../img/b04_bg.jpg") 50% 0 no-repeat; }
  .b04 .h2 {
    margin-bottom: 40px; }
  .b04 .income {
    position: relative;
    margin-bottom: 50px; }
    .b04 .income:before {
      top: 73px;
      left: 150px;
      z-index: 5;
      content: '';
      width: 800px;
      position: absolute;
      border-bottom: 1px solid #d6e9ea; }
    .b04 .income li {
      z-index: 50;
      float: left;
      width: 33.33%;
      text-align: center;
      position: relative; }
      .b04 .income li .value {
        width: 145px;
        height: 145px;
        color: #1b232d;
        font-size: 23px;
        font-weight: 700;
        line-height: 61px;
        padding-top: 40px;
        margin: 0 auto 15px auto;
        background: url("../img/b04_ellipce.png") 50% 0 no-repeat; }
        .b04 .income li .value span {
          font-size: 61px; }
      .b04 .income li .text {
        color: #626262;
        font-size: 17px;
        font-weight: 200;
        line-height: 23px; }
        .b04 .income li .text span {
          font-weight: 400; }
  .b04 .income-result {
    margin: 0 80px 45px 80px; }
    .b04 .income-result li {
      width: 50%;
      float: left;
      position: relative; }
      .b04 .income-result li:first-child {
        padding-left: 190px;
        padding-right: 50px;
        border-right: 1px solid #e5e5e5; }
        .b04 .income-result li:first-child .value {
          left: 0; }
      .b04 .income-result li:last-child {
        padding-left: 240px; }
        .b04 .income-result li:last-child .value {
          left: 45px; }
      .b04 .income-result li .value {
        top: 0;
        color: #1b232d;
        font-size: 23px;
        font-weight: 700;
        line-height: 45px;
        position: absolute; }
        .b04 .income-result li .value span {
          font-size: 45px; }
      .b04 .income-result li .text {
        color: #626262;
        font-size: 17px;
        font-weight: 200;
        line-height: 23px; }
        .b04 .income-result li .text strong {
          font-weight: 400; }
  .b04 .text-box {
    color: #575757;
    width: 1080px;
    height: 110px;
    display: table;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 15px;
    text-align: center;
    margin: 0 auto 30px auto;
    background: url("../img/b04_text.png") 0 0 no-repeat; }
    .b04 .text-box span {
      height: 95px;
      display: table-cell;
      vertical-align: middle; }
    .b04 .text-box strong {
      font-weight: 400; }

.b05 {
  height: 676px;
  padding-top: 50px;
  background: url("../img/b05_bg2.jpg") 50% 0 no-repeat; }
  .b05 .h2 {
    margin-bottom: 290px; }
  .b05 .bike {
    margin-bottom: 45px; }
    .b05 .bike li {
      width: 25%;
      float: left;
      color: #1b252f;
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
      text-align: center; }
      .b05 .bike li span {
        position: relative;
        display: inline-block; }
        .b05 .bike li span:after, .b05 .bike li span:before {
          top: 50%;
          content: '';
          width: 32px;
          color: #1b252f;
          position: absolute;
          border-bottom: 1px solid #1b252f; }
        .b05 .bike li span:after {
          left: -42px; }
        .b05 .bike li span:before {
          right: -42px; }
  .b05 .box {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 30px;
    background: #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
    .b05 .box h3 {
      color: #1b252f;
      font-size: 30px;
      font-weight: 200;
      line-height: 36px;
      margin-bottom: 20px; }
    .b05 .box .btn {
      margin: 0 15px; }

.b06 {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 60px; }
  .b06 .h2 {
    margin-bottom: 90px; }
  .b06 .gray-box {
    width: 1080px;
    color: #575757;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    position: relative;
    background: #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 75px 25px 75px; }
    .b06 .gray-box:before {
      z-index: 10;
      top: -11px;
      left: 170px;
      width: 72px;
      height: 50px;
      content: ' ';
      position: absolute;
      background: url("../img/icon-quote.png") 0 0 no-repeat; }
    .b06 .gray-box h3 {
      z-index: 50;
      color: #575757;
      font-size: 35px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
      position: relative;
      margin-bottom: 20px; }
  .b06 .features {
    height: 500px;
    position: relative;
    background: url("../img/b06/b06_img.jpg") 50% 0 no-repeat; }
  .b06 .tabs-nav {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative; }
    .b06 .tabs-nav li {
      z-index: 110;
      width: 30px;
      height: 30px;
      position: absolute;
      background: transparent; }
      .b06 .tabs-nav li.item1 {
        top: 115px;
        left: 615px; }
      .b06 .tabs-nav li.item2 {
        top: 125px;
        left: 665px; }
      .b06 .tabs-nav li.item3 {
        top: 182px;
        left: 442px; }
      .b06 .tabs-nav li.item41 {
        top: 300px;
        left: 344px; }
      .b06 .tabs-nav li.item42 {
        top: 308px;
        left: 496px; }
      .b06 .tabs-nav li.item51 {
        top: 215px;
        left: 728px; }
      .b06 .tabs-nav li.item52 {
        top: 296px;
        left: 765px; }
      .b06 .tabs-nav li.item6 {
        top: 374px;
        left: 263px; }
      .b06 .tabs-nav li a {
        width: 100%;
        height: 100%;
        display: inline-block;
        background: url("../img/b06/icon-point.png") 0 -30px no-repeat; }
      .b06 .tabs-nav li.active a {
        background-position: 0 0; }
  .b06 .tabs-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    position: absolute; }
    .b06 .tabs-content ul {
      height: 500px;
      position: relative; }
      .b06 .tabs-content ul li {
        font-size: 16px;
        font-weight: 200;
        line-height: 21px;
        position: absolute;
        display: none; }
        .b06 .tabs-content ul li.active {
          display: block; }
        .b06 .tabs-content ul li.tab1 {
          top: 0;
          right: 510px;
          padding-right: 130px;
          padding-bottom: 105px;
          background: url("../img/b06/tab1.png") 100% 100% no-repeat; }
        .b06 .tabs-content ul li.tab2 {
          top: 50px;
          left: 675px;
          width: 340px;
          text-align: center;
          padding-left: 160px;
          padding-bottom: 50px;
          background: url("../img/b06/tab2.png") 0 100% no-repeat; }
        .b06 .tabs-content ul li.tab3 {
          top: 100px;
          right: 683px;
          text-align: center;
          padding-right: 160px;
          padding-bottom: 72px;
          background: url("../img/b06/tab3.png") 100% 100% no-repeat; }
        .b06 .tabs-content ul li.tab4 {
          top: 195px;
          right: 625px;
          text-align: center;
          padding-right: 330px;
          padding-bottom: 85px;
          background: url("../img/b06/tab4.png") 100% 100% no-repeat; }
        .b06 .tabs-content ul li.tab5 {
          top: 225px;
          left: 735px;
          text-align: center;
          padding-top: 5px;
          padding-left: 248px;
          padding-bottom: 80px;
          background: url("../img/b06/tab5.png") 0 0 no-repeat; }
        .b06 .tabs-content ul li.tab6 {
          top: 379px;
          right: 865px;
          text-align: center;
          padding-right: 85px;
          background: url("../img/b06/tab6.png") 100% 10px no-repeat; }

.b07 {
  height: 776px;
  padding-top: 45px;
  background: url("../img/b07_bg.jpg") 50% 0 no-repeat; }
  .b07 .h2 {
    margin-bottom: 55px; }
  .b07 .chart {
    width: 912px;
    height: 430px;
    margin: 0 auto 25px auto;
    background: url("../img/b07_chart.png") 50% 100% no-repeat; }
    .b07 .chart li {
      width: 288px;
      float: left;
      color: #1b252f;
      font-size: 18px;
      font-weight: 200;
      line-height: 23px;
      position: relative;
      text-align: center;
      padding: 0 20px 10px 20px; }
      .b07 .chart li:before {
        bottom: 0;
        left: 50%;
        content: '';
        width: 212px;
        position: absolute;
        margin-left: -106px;
        border-bottom: 1px solid #1b252f; }
      .b07 .chart li.item2 {
        padding-top: 158px; }
      .b07 .chart li.item3 {
        padding: 227px 35px 10px 35px; }

.b08 {
  background: #fff;
  padding-top: 45px;
  padding-bottom: 65px; }
  .b08 .gray-box {
    margin-left: 390px;
    background: #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 45px 50px 50px 315px; }
    .b08 .gray-box .h2 {
      font-size: 35px;
      text-align: left;
      line-height: 49px;
      margin-bottom: 25px; }
    .b08 .gray-box p {
      font-size: 18px;
      font-weight: 200;
      line-height: 23px;
      margin-bottom: 5px; }
    .b08 .gray-box strong {
      font-weight: 400; }
  .b08 .b08-img {
    top: 48px;
    left: 15px;
    width: 628px;
    height: 463px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); }

.b09 {
  color: #fff;
  height: 486px;
  padding-top: 80px;
  background: url("../img/b09_bg.jpg") 50% 0 no-repeat; }
  .b09 .h2 {
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px; }
  .b09 .risk li {
    font-size: 25px;
    font-weight: 200;
    line-height: 28px;
    padding-left: 45px;
    margin-bottom: 9px;
    background: url("../img/icon-check.png") 0 0 no-repeat; }
    .b09 .risk li p {
      margin-bottom: 0; }
    .b09 .risk li strong {
      font-weight: 400; }

.b10 {
  padding-top: 60px;
  padding-bottom: 55px;
  background: url("../img/b10_bg.jpg") 50% 0 no-repeat; }
  .b10 .h2 {
    margin-bottom: 50px; }
  .b10 .warranty {
    position: relative; }
    .b10 .warranty:before {
      top: 73px;
      left: 150px;
      z-index: 5;
      content: '';
      width: 800px;
      position: absolute;
      border-bottom: 1px solid #d6e9ea; }
    .b10 .warranty li {
      width: 25%;
      float: left;
      z-index: 20;
      color: #626262;
      font-size: 18px;
      font-weight: 200;
      line-height: 24px;
      text-align: center;
      position: relative;
      margin-bottom: 40px;
      padding: 165px 20px 0 20px; }
      .b10 .warranty li.item1 {
        background: url("../img/b10_item1.png") 50% 0 no-repeat; }
      .b10 .warranty li.item2 {
        background: url("../img/b10_item2.png") 50% 0 no-repeat; }
      .b10 .warranty li.item3 {
        background: url("../img/b10_item3.png") 50% 0 no-repeat; }
      .b10 .warranty li.item4 {
        background: url("../img/b10_item4.png") 50% 0 no-repeat; }
  .b10 .gray-box {
    width: 1080px;
    color: #575757;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    position: relative;
    background: #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 75px 20px 75px; }
    .b10 .gray-box:before {
      z-index: 10;
      top: -11px;
      left: 315px;
      width: 72px;
      height: 50px;
      content: ' ';
      position: absolute;
      background: url("../img/icon-quote.png") 0 0 no-repeat; }
    .b10 .gray-box h3 {
      z-index: 50;
      color: #575757;
      font-size: 35px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
      position: relative;
      margin-bottom: 20px; }

.b11 {
  height: 734px;
  padding-top: 115px;
  background: url("../img/b11_bg.jpg") 50% 0 no-repeat; }
  .b11 .h2 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px; }
  .b11 .order li {
    float: left;
    width: 280px;
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    padding-left: 35px;
    margin-bottom: 20px;
    background: url("../img/icon-check.png") 0 0 no-repeat; }
    .b11 .order li.item2, .b11 .order li.item4 {
      width: 300px; }
  .b11 .content {
    color: #fff;
    float: left;
    width: 620px; }
  .b11 .form-block {
    float: right;
    height: 517px;
    margin-top: 5px; }
    .b11 .form-block .form-bottom {
      top: 100%;
      left: 50%;
      color: #fff;
      width: 302px;
      height: 78px;
      font-size: 18px;
      font-weight: 200;
      line-height: 22px;
      padding: 8px 25px;
      text-align: center;
      position: absolute;
      margin-left: -151px;
      background: url("../img/form-bottom.png") 50% 0 no-repeat; }

/*# sourceMappingURL=main.css.map */
