* {
	@include box-sizing(border-box);
	max-height:999999px;
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	min-width: 1170px;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2,
.h2 {
	color: #1b252f;
	font-size: 53px;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.form-block {
	width: 440px;
	position: relative;
	@include border-radius(4px);
	padding: 30px 60px 30px 60px;
	background: url("../img/form_bg.png") 50% 0 no-repeat;

	.form-title {
		color: #1b2530;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.btn {
		width: 100%;
		margin-top: 5px;
	}
}


.btn_close {
	top: -10px;
	right: -35px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon-close.png") 50% 50% no-repeat;
}