.b10 {
    padding-top: 60px;
    padding-bottom: 55px;
    background: url("../img/b10_bg.jpg") 50% 0 no-repeat;


    .h2 {
        margin-bottom: 50px;
    }

    .warranty {
        position: relative;

        &:before {
            top: 73px;
            left: 150px;
            z-index: 5;
            content: '';
            width: 800px;
            position: absolute;
            border-bottom: 1px solid #d6e9ea;
        }

        li {
            width: 25%;
            float: left;
            z-index: 20;
            color: #626262;
            font-size: 18px;
            font-weight: 200;
            line-height: 24px;
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            padding: 165px 20px 0 20px;

            &.item1 {
                background: url("../img/b10_item1.png") 50% 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b10_item2.png") 50% 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b10_item3.png") 50% 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b10_item4.png") 50% 0 no-repeat;
            }
        }
    }

    .gray-box {
        width: 1080px;
        color: #575757;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        position: relative;
        background: #efefef;
        @include border-radius(6px);
        padding: 15px 75px 20px 75px;

        &:before {
            z-index: 10;
            top: -11px;
            left: 315px;
            width: 72px;
            height: 50px;
            content: ' ';
            position: absolute;
            background: url("../img/icon-quote.png") 0 0 no-repeat;
        }

        h3 {
            z-index: 50;
            color: #575757;
            font-size: 35px;
            font-weight: 400;
            line-height: 40px;
            text-align: center;
            position: relative;
            margin-bottom: 20px;

        }
    }
}