.b09 {
    color: #fff;
    height: 486px;
    padding-top: 80px;
    background: url("../img/b09_bg.jpg") 50% 0 no-repeat;

    .h2 {
        color: #fff;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .risk {

        li {
            font-size: 25px;
            font-weight: 200;
            line-height: 28px;
            padding-left: 45px;
            margin-bottom: 9px;
            background: url("../img/icon-check.png") 0 0 no-repeat;


            p {
                margin-bottom: 0;
            }

            strong {
                font-weight: 400;
            }
        }
    }
}