.b06 {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 60px;

    .h2 {
        margin-bottom: 90px;
    }

    .gray-box {
        width: 1080px;
        color: #575757;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        position: relative;
        background: #efefef;
        @include border-radius(6px);
        padding: 20px 75px 25px 75px;

        &:before {
            z-index: 10;
            top: -11px;
            left: 170px;
            width: 72px;
            height: 50px;
            content: ' ';
            position: absolute;
            background: url("../img/icon-quote.png") 0 0 no-repeat;
        }

        h3 {
            z-index: 50;
            color: #575757;
            font-size: 35px;
            font-weight: 400;
            line-height: 40px;
            text-align: center;
            position: relative;
            margin-bottom: 20px;

        }
    }


    .features {
        height: 500px;
        position: relative;
        background: url("../img/b06/b06_img.jpg") 50% 0 no-repeat;
    }

    .tabs-nav {
        width: 100%;
        height: 100%;
        z-index: 100;
        position: relative;

        li {
            z-index: 110;
            width: 30px;
            height: 30px;
            position: absolute;
            background: transparent;

            &.item1 {
                top: 115px;
                left: 615px;
            }

            &.item2 {
                top: 125px;
                left: 665px;
            }

            &.item3 {
                top: 182px;
                left: 442px;
            }

            &.item41 {
                top: 300px;
                left: 344px;
            }


            &.item42 {
                top: 308px;
                left: 496px;
            }

            &.item51 {
                top: 215px;
                left: 728px;
            }

            &.item52 {
                top: 296px;
                left: 765px;
            }

            &.item6 {
                top: 374px;
                left: 263px;
            }


            a {
                width: 100%;
                height: 100%;
                display: inline-block;
                background: url("../img/b06/icon-point.png") 0 -30px no-repeat;
            }

            &.active {

                a {
                    background-position: 0 0;
                }
            }
        }
    }

    .tabs-content {
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        position: absolute;

        ul {
            height: 500px;
            position: relative;

            li {
                font-size: 16px;
                font-weight: 200;
                line-height: 21px;
                position: absolute;
                display: none;

                &.active {
                    display: block;
                }

                &.tab1 {
                    top: 0;
                    right: 510px;
                    padding-right: 130px;
                    padding-bottom: 105px;
                    background: url("../img/b06/tab1.png") 100% 100% no-repeat;
                }

                &.tab2 {
                    top: 50px;
                    left: 675px;
                    width: 340px;
                    text-align: center;
                    padding-left: 160px;
                    padding-bottom: 50px;
                    background: url("../img/b06/tab2.png") 0 100% no-repeat;
                }

                &.tab3 {
                    top: 100px;
                    right: 683px;
                    text-align: center;
                    padding-right: 160px;
                    padding-bottom: 72px;
                    background: url("../img/b06/tab3.png") 100% 100% no-repeat;
                }

                &.tab4 {
                    top: 195px;
                    right: 625px;
                    text-align: center;
                    padding-right: 330px;
                    padding-bottom: 85px;
                    background: url("../img/b06/tab4.png") 100% 100% no-repeat;
                }

                &.tab5 {
                    top: 225px;
                    left: 735px;
                    text-align: center;
                    padding-top: 5px;
                    padding-left: 248px;
                    padding-bottom: 80px;
                    background: url("../img/b06/tab5.png") 0 0 no-repeat;
                }

                &.tab6 {
                    top: 379px;
                    right: 865px;
                    text-align: center;
                    padding-right: 85px;
                    background: url("../img/b06/tab6.png") 100% 10px no-repeat;
                }
            }
        }
    }
}