.b04 {
    height: 863px;
    padding-top: 30px;
    background: url("../img/b04_bg.jpg") 50% 0 no-repeat;

    .h2 {
        margin-bottom: 40px;
    }

    .income {
        position: relative;
        margin-bottom: 50px;


        &:before {
            top: 73px;
            left: 150px;
            z-index: 5;
            content: '';
            width: 800px;
            position: absolute;
            border-bottom: 1px solid #d6e9ea;
        }

        li {
            z-index: 50;
            float: left;
            width: 33.33%;
            text-align: center;
            position: relative;

            .value {
                width: 145px;
                height: 145px;
                color: #1b232d;
                font-size: 23px;
                font-weight: 700;
                line-height: 61px;
                padding-top: 40px;
                margin: 0 auto 15px auto;
                background: url("../img/b04_ellipce.png") 50% 0 no-repeat;

                span {
                    font-size: 61px;
                }
            }

            .text {
                color: #626262;
                font-size: 17px;
                font-weight: 200;
                line-height: 23px;

                span {
                    font-weight: 400;
                }
            }
        }
    }

    .income-result {
        margin: 0 80px 45px 80px;

        li {
            width: 50%;
            float: left;
            position: relative;

            &:first-child {
                padding-left: 190px;
                padding-right: 50px;
                border-right: 1px solid #e5e5e5;

                .value {
                    left: 0;
                }
            }

            &:last-child {
                padding-left: 240px;

                .value {
                    left: 45px;
                }
            }


            .value {
                top: 0;
                color: #1b232d;
                font-size: 23px;
                font-weight: 700;
                line-height: 45px;
                position: absolute;

                span {
                    font-size: 45px;
                }
            }

            .text {
                color: #626262;
                font-size: 17px;
                font-weight: 200;
                line-height: 23px;

                strong {
                    font-weight: 400;
                }
            }
        }
    }

    .text-box {
        color: #575757;
        width: 1080px;
        height: 110px;
        display: table;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        padding-top: 15px;
        text-align: center;
        margin: 0 auto 30px auto;
        background: url("../img/b04_text.png") 0 0 no-repeat;

        span {
            height: 95px;
            display: table-cell;
            vertical-align: middle;
        }

        strong {
            font-weight: 400;
        }
    }
}