.b02 {
    height: 640px;
    padding-top: 50px;
    background: #fff url("../img/b02_bg.jpg") 50% 100% no-repeat;

    h2,
    .h2 {
        margin-bottom: 115px;
    }

    .about {
        height: 350px;
        position: relative;

        li {
            width: 260px;
            font-size: 16px;
            font-weight: 200;
            line-height: 21px;
            padding-top: 44px;
            position: absolute;
            text-align: center;

            strong {
                font-weight: 400;
            }

            &.item1 {
                top: 0;
                left: 50px;
                background: url("../img/b02_item1.png") 50% 0 no-repeat;
            }

            &.item2 {
                top: 0;
                right: 50px;
                background: url("../img/b02_item2.png") 50% 0 no-repeat;
            }

            &.item3 {
                left: 0;
                top: 140px;
                background: url("../img/b02_item3.png") 50% 0 no-repeat;
            }

            &.item4 {
                right: 0;
                top: 140px;
                background: url("../img/b02_item4.png") 50% 0 no-repeat;
            }

            &.item5 {
                top: 30px;
                left: 50%;
                width: 270px;
                height: 270px;
                font-size: 18px;
                line-height: 23px;
                margin-left: -135px;
                padding: 65px 30px 0 30px;
                background: url("../img/b02_center.png") 0 50% no-repeat;
            }
        }
    }
}