.b05 {
    height: 676px;
    padding-top: 50px;
    background: url("../img/b05_bg2.jpg") 50% 0 no-repeat;

    .h2 {
        margin-bottom: 290px;
    }

    .bike {
        margin-bottom: 45px;

        li {
            width: 25%;
            float: left;
            color: #1b252f;
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;

            span {
                position: relative;
                display: inline-block;

                &:after,
                &:before {
                    top: 50%;
                    content: '';
                    width: 32px;
                    color: #1b252f;
                    position: absolute;
                    border-bottom: 1px solid #1b252f;
                }

                &:after {
                    left: -42px;
                }

                &:before {
                    right: -42px;
                }
            }
        }
    }

    .box {
        width: 1080px;
        margin: 0 auto;
        text-align: center;
        padding: 30px 30px;
        background: #efefef;
        @include border-radius(6px);

        h3 {
            color: #1b252f;
            font-size: 30px;
            font-weight: 200;
            line-height: 36px;
            margin-bottom: 20px;
        }

        .btn {
            margin: 0 15px;
        }
    }
}