.header {
    height: 105px;
    background: #fff;
    padding-top: 30px;

    .header-logo {
        float: left;
        width: 298px;
    }

    .header-text {
        float: left;
        width: 430px;
        color: #1c232d;
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
        position: relative;
        padding: 15px 0 15px 14px;

        &:before {
            left: 0;
            top: 50%;
            content: '';
            height: 48px;
            margin-top: -24px;
            position: absolute;
            border-left: 1px solid #e5e5e5;
        }
    }

    .header-area {
        float: left;
        width: 150px;
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
        padding-top: 18px;
        padding-left: 18px;
        background: url("../img/icon-location.png") 0 22px no-repeat;

        span {
            color: #1c232d;
        }
    }

    .header-contact {
        float: right;
        width: 230px;
        text-align: right;

        li {
            margin-bottom: 5px;
        }

        .tel {
            color: #1c232d;
            font-size: 28px;
            font-weight: 500;
            line-height: 28px;
            text-decoration: none;
        }
    }
}

.b01 {
    color: #fff;
    height: 758px;
    padding-top: 105px;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;

    h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-head;
        text-transform: uppercase;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .text {
        font-size: 42px;
        font-weight: 300;
        line-height: 50px;
        text-align: center;
        margin-bottom: 55px;

        span {
            color: #ff0054;
            font-size: 45px;
            font-weight: 500;
        }
    }

    .advantage {
        height: 225px;

        li {
            float: left;
            width: 33.33%;
            font-size: 20px;
            font-weight: 200;
            line-height: 26px;
            text-align: center;
            padding-top: 85px;

            &.item1 {
                background: url("../img/b01_icon1.png") 50% 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b01_icon2.png") 50% 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b01_icon3.png") 50% 0 no-repeat;
            }

            strong {
                font-weight: 400;
            }
        }
    }
}