.b11 {
    height: 734px;
    padding-top: 115px;
    background: url("../img/b11_bg.jpg") 50% 0 no-repeat;

    .h2 {
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .order {

        li {
            float: left;
            width: 280px;
            font-size: 20px;
            font-weight: 200;
            line-height: 28px;
            padding-left: 35px;
            margin-bottom: 20px;
            background: url("../img/icon-check.png") 0 0 no-repeat;

            &.item2,
            &.item4 {
                width: 300px;
            }
        }
    }

    .content {
        color: #fff;
        float: left;
        width: 620px;
    }

    .form-block {
        float: right;
        height: 517px;
        margin-top: 5px;

        .form-bottom {
            top: 100%;
            left: 50%;
            color: #fff;
            width: 302px;
            height: 78px;
            font-size: 18px;
            font-weight: 200;
            line-height: 22px;
            padding: 8px 25px;
            text-align: center;
            position: absolute;
            margin-left: -151px;
            background: url("../img/form-bottom.png") 50% 0 no-repeat;
        }
    }
}