.b08 {
    background: #fff;
    padding-top: 45px;
    padding-bottom: 65px;

    .gray-box {
        margin-left: 390px;
        background: #efefef;
        @include border-radius(6px);
        padding: 45px 50px 50px 315px;

        .h2 {
            font-size: 35px;
            text-align: left;
            line-height: 49px;
            margin-bottom: 25px;
        }

        p {
            font-size: 18px;
            font-weight: 200;
            line-height: 23px;
            margin-bottom: 5px;
        }

        strong {
            font-weight: 400;
        }
    }

    .b08-img {
        top: 48px;
        left: 15px;
        width: 628px;
        height: 463px;
        position: absolute;
        @include box-shadow( 0px 0px 20px 0px rgba(0, 0, 0, 0.2));
    }
}