.b07 {
    height: 776px;
    padding-top: 45px;
    background: url("../img/b07_bg.jpg") 50% 0 no-repeat;

    .h2 {
        margin-bottom: 55px;
    }

    .chart {
        width: 912px;
        height: 430px;
        margin: 0 auto 25px auto;
        background: url("../img/b07_chart.png") 50% 100% no-repeat;

        li {
            width: 288px;
            float: left;
            color: #1b252f;
            font-size: 18px;
            font-weight: 200;
            line-height: 23px;
            position: relative;
            text-align: center;
            padding: 0 20px 10px 20px;

            &:before {
                bottom: 0;
                left: 50%;
                content: '';
                width: 212px;
                position: absolute;
                margin-left: -106px;
                border-bottom: 1px solid #1b252f;
            }

            &.item2 {
                padding-top: 158px;
            }

            &.item3 {
                padding: 227px 35px 10px 35px;
            }
        }
    }
}