.b03 {
    color: #fff;
    height: 487px;
    padding-top: 80px;
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat;

    .h2 {
        color: #fff;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 30px;
        font-weight: 200;
        line-height: 42px;
        text-align: center;
        margin-bottom: 20px;

        strong {
            font-weight: 400;
        }
    }
}