@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-ExtraThin/PFDinDisplayPro-ExtraThin_gdi.svg#PFDinDisplayPro-ExtraThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Thin/PFDinDisplayPro-Thin_gdi.svg#PFDinDisplayPro-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Light/PFDinDisplayPro-Light_gdi.svg#PFDinDisplayPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular_gdi.svg#PFDinDisplayPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Medium/PFDinDisplayPro-Medium_gdi.svg#PFDinDisplayPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold_gdi.svg#PFDinDisplayPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.eot');
    src: url('../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Black/PFDinDisplayPro-Black_gdi.svg#PFDinDisplayPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}



@font-face {
    font-family:'UniSansBold';
    src: url('../fonts/UniSansBold-Regular/UniSansBold_gdi.eot');
    src: url('../fonts/UniSansBold-Regular/UniSansBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UniSansBold-Regular/UniSansBold_gdi.woff') format('woff'),
    url('../fonts/UniSansBold-Regular/UniSansBold_gdi.ttf') format('truetype'),
    url('../fonts/UniSansBold-Regular/UniSansBold_gdi.svg#UniSansBold-Regular') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}