.footer {
    color: #fff;
    height: 197px;
    padding-top: 30px;
    background: url("../img/footer_bg.jpg") 50% 0 no-repeat;

    .footer-row {
        width: 100%;

       > li {
            float: left;
            width: 33.33%;

            &:first-child {
                padding-top: 20px;

                p {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }

            &.item2 {
                padding-top: 40px;
            }

            p {
                font-size: 17px;
                line-height: 22px;
                padding-top: 10px;

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-contact {
        text-align: right;

        li {

            &.item1 {
                font-size: 16px;
                font-weight: 200;
                line-height: 22px;
            }

            &.item2 {
                font-size: 23px;
                font-weight: 400;
                line-height: 25px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

            &.item3 {
                font-size: 16px;
                font-weight: 200;
                line-height: 22px;
                margin-bottom: 40px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

            &.item4 {
                font-size: 17px;
                font-weight: 300;
                line-height: 22px;

                a {
                    color: #ff9c44;
                    text-decoration: underline;
                }
            }

        }
    }
}