.thank  {
    height: 787px;
    padding-top: 100px;
    background: url("../img/thank_bg.jpg") 50% 0 no-repeat;

    .h2 {
        font-size: 60px;
        line-height: 1.1;
        margin-bottom: 35px;
    }

    .text {
        font-size: 42px;
        font-weight: 300;
        line-height: 48px;
        text-align: center;
        margin-bottom: 95px;
    }

    .btn-pdf-md {
        margin: 0 20px;
    }
}