
$body-bg                :   #fff !default;
$text-color             :   #1c232d !default;
$link-color             :   #0d80e6 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   normal;
$font-base              :   'PFDinDisplayPro', Arial, sans-serif !default;
$font-head              :   'UniSansBold', sans-serif !default;

