.btn {
	margin:0;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include transition(.3s);

	&:hover {
		text-decoration: none;
	}

	&:active {
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}
}

.btn-callback {
	color: #add02a;
	font-size: 17px;
	font-weight: 300;
	line-height: 21px;
	padding: 8px 50px;
	background: transparent;
	border: 2px solid #add02a;
	@include border-radius(3px);

	&:hover {
		color: #fff;
		background: #add02a;
	}
}

.btn-purple {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	padding: 20px 30px;
	background: #ff0054;
	@include border-radius(35px);
	text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.35);
	@include box-shadow(0px 3px 0px 0px rgba(77, 52, 161, 0.35));

	&:hover {
		background: #fd0d0d;
	}
}

.btn-pdf {
	color: #1b252f;
	font-size: 16px;
	font-weight: 200;
	line-height: 20px;
	border: 1px solid #1b252f;
	padding: 11px 20px 11px 45px;
	@include border-radius(22px);
	background: transparent url("../img/icon-pdf.png") 18px 50% no-repeat;

	&:hover {
		background-color: #fff;
	}
}

.btn-pdf-md {
	color: #3c97c3;
	font-size: 22px;
	font-weight: 200;
	line-height: 24px;
	padding: 16px 10px 16px 60px;
	background: transparent url("../img/icon-pdf-md.png") 0 50% no-repeat;

	span {
		display: inline-block;
		border-bottom: 1px dashed #3c97c3;
	}

	&:hover {

		span {
			border-bottom-color: transparent;
		}
	}

	&:active {
		@include box-shadow(0 0 0 rgba(0,0,0,0));
	}
}