.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #939494;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	border: 1px solid #e8e9ea;
	background-color: #e8e9ea;
	@include border-radius(3px);
	padding: 15px 15px 15px 65px;
	@include placeholder(#939494);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
	//	@include placeholder(transparent);
		@include box-shadow( inset 0 1px 1px rgba(77,119,169, 0.075), 0 0 8px rgba(77,119,169, 0.8));
	}
}


.form-name {
	background: #e8e9ea url("../img/icon-form-user.png") 18px 50% no-repeat;
}

.form-company {
	background: #e8e9ea url("../img/icon-form-company.png") 18px 50% no-repeat;
}

.form-tel {
	background: #e8e9ea url("../img/icon-form-tel.png") 18px 50% no-repeat;
}

.form-email {
	background: #e8e9ea url("../img/icon-form-mail.png") 18px 50% no-repeat;
}

.form-location {
	background: #e8e9ea url("../img/icon-form-mail.png") 18px 50% no-repeat;
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}